<form *ngIf="guitarSchema" [formGroup]="guitarFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>{{guitarSchema.brand.options.alias}}</mat-label>
    <input matInput type="text" formControlName='brand'/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{guitarSchema.model.options.alias}}</mat-label>
    <input matInput type="text" formControlName='model'/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{guitarSchema.color.options.alias}}</mat-label>
    <input matInput type="text" formControlName='color'/>
  </mat-form-field>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>{{guitarSchema.price.options.alias}}</mat-label>
    <input matInput type="number" class="money-input" placeholder="0" formControlName='price'/>
    <span matTextPrefix>$&nbsp;</span>
    <span matTextSuffix>.00</span>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{guitarSchema.year.options.alias}}</mat-label>
    <input matInput [matDatepicker]="dp" placeholder="Year" formControlName="year">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
      startView="multi-year"
      (yearSelected)="chosenYearHandler($event, dp)"
      panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{guitarSchema.condition.options.alias}}</mat-label>
    <mat-select formControlName="condition">
      <mat-option value="Mint">Mint</mat-option>
      <mat-option value="Great">Great</mat-option>
      <mat-option value="Good">Good</mat-option>
      <mat-option value="Fair">Fair</mat-option>
      <mat-option value="Worn">Worn</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</form>
